<div id="<%= dom_id syllable_letter %>">
  <p>
    <strong>Syllable letter:</strong>
    <%= syllable_letter.syllable_letter %>
  </p>

  <p>
    <strong>Phonetic:</strong>
    <%= syllable_letter.phonetic_id %>
  </p>

</div>
