<h1>Editing syllable letter</h1>

<%= render "form", syllable_letter: @syllable_letter %>

<br>

<div>
  <%= link_to "Show this syllable letter", @syllable_letter %> |
  <%= link_to "Back to syllable letters", syllable_letters_path %>
</div>
