.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  max-width: 1200px;
  padding: 30px;
  text-align: center;
}

.leaderboard-container h1 {
  margin-top: 0;
}

.users {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-container .row {
  width: 100%;
  padding: 10px 40px;
  background-color: #286867;
  margin: 10px 0;
  display: flex;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bold {
  font-size: 20px;
  font-weight: 700;
}
